@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark1: #000000;
  --dark2: #3e432e;
  --dark3: #616f39;
  --light1: #a7d129;
  --blue: #6577b3;
}
*,
html,
body,
div,
svg {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.sec {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*TO THE TOP*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--light1);
  color: var(--dark3);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  opacity: 0.7;
}

#myBtn:hover {
  background-color: var(--dark3);
  color: var(--light1);
}
/* LANDING PAGE*/
.landing {
  background-color: var(--dark1);
  color: var(--light1);
}
.bar {
  position: relative;
  color: var(--dark3);
  padding-top: 4vh;
}
.big {
  font-size: 1.8rem;
}
.small {
  font-size: 1.2rem;
}
.ac:hover,
.active {
  color: var(--light1);
}
a {
  color: var(--dark3);
}
/* LANDING PAGE */
/*DEMONSTRATION*/
.sec1 {
  min-height: 100vh;
}
.main {
  background-color: var(--blue);
  color: var(--dark1);
}
.head {
  font-size: 1.2rem;
  color: var(--light1);
}
.head1 {
  font-size: 1.7rem;
}
.in,
.but {
  background-color: var(--dark1);
  color: var(--dark3);
  border: 0px;
  width: 100%;
  border-radius: 5px;
  padding: 4px 10px;
  text-align: center;
}
.but {
  color: var(--dark1);
  background-color: var(--light1);
}
/*NODES*/
.nodes {
  position: relative;
}
.divele {
  position: absolute;
}
#Wrap {
  position: absolute;
  height: 0%;
  width: 100%;
  user-select: none;
}

.lineWrap {
  position: absolute;
  left: 0;
  overflow: visible;
}

div.test {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: #49b1f5;
  border-radius: 50%;
  border: 5px solid #34aaf1;
  z-index: 9999999;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  /*float: left;*/
}

#lineWrap {
  position: fixed;
  overflow: visible;
}
/*CONTENT*/
.slide {
  border: 3px solid #49b1f5;
  border-radius: 4px;
  overflow: auto;
}

.slide_title {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark1);
  background-color: var(--light1);
  border-radius: 5px;
}

.slide_content {
  font-size: 15px;
  color: var(--dark1);
}

.slider_line {
  position: unset;
}

.control {
  position: fixed;
  margin-top: 10px;
  left: 0px;
  top: 0px;
  width: 80%;
  z-index: 999999999;
  text-align: center;
}
.int_num {
  font-size: 22px;
  color: #232323;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #eee;
  text-align: center;
}
.nodes > a:link {
  color: #000000;
  text-decoration: none;
}

/* Link not visited*/
.nodes > a:visited {
  color: #000;
  text-decoration: none;
}
/* Visited link */
.nodes > a:hover {
  color: #000;
  text-decoration: underline;
}

/* Move the mouse to the link */
.nodes > a:active {
  color: #000;
}
/*MADE BY PAGE*/
.makers {
  background-color: var(--dark1);
}
.made-by {
  color: var(--light1);
}
div.polaroid {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 var(--light1), 0 6px 20px 0 var(--dark3);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.to {
  color: var(--dark3);
}
.name {
  color: var(--light1);
}
