@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark1: #000000;
  --dark2: #3e432e;
  --dark3: #616f39;
  --light1: #a7d129;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.sec {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*TO THE TOP*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--light1);
  color: var(--dark3);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}

#myBtn:hover {
  background-color: var(--dark3);
  color: var(--light1);
}
/* LANDING PAGE*/
.landing {
  background-color: var(--dark1);
  color: var(--light1);
}
.bar {
  position: relative;
  color: var(--dark3);
  padding-top: 6vh;
}
.big {
  font-size: 1.8rem;
}
.small {
  font-size: 1.2rem;
}
.ac:hover,
.active {
  color: var(--light1);
}
a {
  color: var(--dark3);
}
/* LANDING PAGE */
